annotated-types
anyio
certifi
click
exceptiongroup
fastapi
h11
httpcore
httptools
httpx
idna
iniconfig
packaging
pluggy
pydantic
pydantic_core
pytest
pytest-cov
python-dotenv
PyYAML
sniffio
starlette
tomli
typing_extensions
uvicorn
watchfiles
websockets
uvloop
